﻿@page
@model Project_PRN221_1.Pages.ArticleDetailsModel
@{
}
<div class="container">
    <!-- Tiêu đề bài viết -->
    <h1 class="mt-5 mb-4">Tiêu đề bài viết</h1>

    <!-- Thông tin tác giả và ngày đăng -->
    <p class="text-muted">Tác giả: <strong>Tên tác giả</strong> | Ngày đăng: <strong>Ngày/Tháng/Năm</strong></p>

    <!-- Nội dung bài viết -->
    <div class="mb-4">
        <p>
            Nội dung bài viết sẽ được hiển thị ở đây.
            Bạn có thể sử dụng thẻ HTML để định dạng nội dung như chèn hình ảnh, video, văn bản in đậm, in nghiêng, v.v.
        </p>
    </div>

    <!-- Thẻ cho hình ảnh trong bài viết -->
    <img src="path_to_image.jpg" class="img-fluid mb-4" alt="Hình minh họa">

    <!-- Các nút chia sẻ bài viết -->
    <div class="mb-4">
        <button class="btn btn-primary">Chia sẻ lên Facebook</button>
        <button class="btn btn-info">Chia sẻ lên Twitter</button>
        <button class="btn btn-danger">Chia sẻ lên Pinterest</button>
    </div>

    <!-- Phần bình luận -->
    <div class="mb-4">
        <h2>Bình luận</h2>
        <!-- Form nhập bình luận -->
        <form>
            <div class="mb-3">
                <label for="inputName" class="form-label">Tên</label>
                <input type="text" class="form-control" id="inputName" placeholder="Nhập tên của bạn">
            </div>
            <div class="mb-3">
                <label for="inputComment" class="form-label">Bình luận</label>
                <textarea class="form-control" id="inputComment" rows="3" placeholder="Nhập bình luận của bạn"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gửi bình luận</button>
        </form>
    </div>

    <!-- Danh sách bình luận -->
    <div>
        <h3>Danh sách bình luận</h3>
        <ul class="list-unstyled">
            <li class="media mb-3">
                <img src="user_avatar.jpg" class="mr-3" alt="Ảnh đại diện">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Tên người bình luận</h5>
                    Nội dung bình luận sẽ được hiển thị ở đây.
                </div>
            </li>
            <!-- Thêm các mục bình luận khác nếu cần -->
        </ul>
    </div>
</div>