﻿@page
@model IndexModel
@{
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">NewsG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                @foreach (var item in Model.Categories)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@item.CategoryName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
    <div class="row">
        <!-- Popular Articles -->
        <div class="col-md-3">
            <h4>Popular Articles</h4>
            <ul class="list-group">
                @for (int i = 0; i < 5; i++)
                {
                    <li class="list-group-item">@Model.PopularPost[i].PostHeader</li>
                }
            </ul>
        </div>

        <!-- Latest Article -->
        <div class="col-md-6 text-center">
            <h2>Latest Article</h2>
            <div class="article">
                <img class="latestpost-image" src="@Url.Content(Model.LastestPost.Image1Path)" alt="Lastest Post Image">
                <p>@Model.LastestPost.Image1Path</p>
                <h3><a href="ArticleDetails?Id=@Model.LastestPost.PostId">@Model.LastestPost.PostHeader</a></h3>
                <p>@Model.LastestPost.PostGraph1</p>
            </div>
        </div>

        <!-- Other Popular Articles -->
        <div class="col-md-3">
            <h4>Popular Articles</h4>
            <ul class="list-group">
                @for (int i = 5; i < 10; i++)
                {
                    <li class="list-group-item">@Model.PopularPost[i].PostHeader</li>
                }
            </ul>
        </div>
    </div>
</div>
