﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_PRN221_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_PRN221_1.styles.css" asp-append-version="true" />
</head>
<body>
   
    <div class="container-fluid" style="padding: 0">
        <main role="main" class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white mt-5">
        <div class="container text-center">
            <p>All copy right of 2024 NewsG</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>