﻿@page
@model LoadDB_EF_RazorPage.Pages.NewStudent.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

$(document).ready(function(){
    $(".chk").click(function(){
        $("#sub").click();
    });
});

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post" id="fm">
    <input type="checkbox" value="All" name="all" class="chk" @(Model.list.Contains("all")?"checked":"")/>All<br />
    @foreach (var d in Model.Depart)
    {
        <input type="checkbox" name='@("chk"+d.Id)' value ='@d.Id' class="chk"
        @(Model.list.Contains(d.Id) ? "checked" : "") /> @d.Name <br />
    }
    <input type="text" name="nameFilter" placeholder="Filter by Name" value="@ViewData["NameFilter"]" />
    <input type="submit" name="submit" value="Search" id="sub" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Depart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
