﻿@page
@model LoadDB_EF_RazorPage.Pages.Students.Add_StudentModel
@{
}
<h2>Add Student</h2>
<form method="post">
    <table>
        <tr>
            <td>Id</td>
            <td><input asp-for="NewStudent.Id" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input asp-for="NewStudent.Name" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input asp-for="NewStudent.Gender" type="checkbox" /></td>
        </tr>
        <tr>
            <td>Department</td>
            @*<td><select asp-for="NewStudent.DepartId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))"></select></td>*@
            @*<td><select asp-for="NewStudent.DepartId" >
                    @foreach (var de in Model.Departments)
                    {
                        <option value="@de.Id">@de.Name</option>
                    }
                </select></td>*@
            <td><select asp-for="NewStudent.DepartId" asp-items="@ViewBag.Departments"></select></td>
        </tr>
        <tr>
            <td>Dateofbirth</td>
            <td><input type="date" asp-for="NewStudent.Dob" /></td>
        </tr>
        <tr>
            <td>Gpa</td>
            <td><input asp-for="NewStudent.Gpa" /></td>
        <tr>
    </table>
    <div>
        <input type="submit" value="Add Student" />
    </div>
</form>