﻿@page
@model LoadDB_EF_RazorPage.Pages.Students.Detail_StudentModel
@{
}
<h2>Details Student</h2>
<form method="post">
    <table>
        <tr>
            <td>Id</td>
            <td><input asp-for="NewStudent.Id" readonly="true" /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input asp-for="NewStudent.Name" readonly="true" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input asp-for="NewStudent.Gender" type="checkbox" readonly="true" /></td>
        </tr>
        <tr>
            <td>Department</td>
            @*<td><select asp-for="NewStudent.DepartId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))"></select></td>*@
            @*<td><select asp-for="NewStudent.DepartId" >
            @foreach (var de in Model.Departments)
            {
            <option value="@de.Id">@de.Name</option>
            }
            </select></td>*@
            <td><select asp-for="NewStudent.DepartId" asp-items="@ViewBag.Departments" readonly="true"></select></td>
        </tr>
        <tr>
            <td>Dateofbirth</td>
            <td><input type="date" asp-for="NewStudent.Dob" readonly="true" /></td>
        </tr>
        <tr>
            <td>Gpa</td>
            <td><input asp-for="NewStudent.Gpa" readonly="true"/></td>
        <tr>
    </table>
    <div>
        <a href="Index_Student">Back to list</a>
    </div>
</form>