﻿@page
@model LoadDB_EF_RazorPage.Pages.Students.Index_StudentModel
@{
}
<a href="Add_Student" >Create new student</a>
<a asp-page="Add_Student">Create new student</a>
<form method="get">
	<label for="genderFilter">Gender:</label>
	<select id="genderFilter" name="genderFilter">
		<option value="">All</option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	</select>

	<label for="departmentFilter">Department:</label>
	<select id="departmentFilter" name="departmentFilter">
		<option value="">All</option>
		@foreach (var department in Model.Depts)
		{
			<option value="@department.Id">@department.Name</option>
		}
	</select>

	<button type="submit">Filter</button>
</form>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Gender</th>
		<th>Department Name</th>
		<th>DOB</th>
		<th>GPA</th>
		<th>Edit</th>
		<th>Details</th>
		<th>Delete</th>
	</tr>
	@foreach (var st in Model.Stu){
		<tr>
			<td>@st.Id</td>
			<td>@st.Name</td>
			<td><input type="checkbox" @(st.Gender ? "checked" : "")> @(st.Gender ? "Male" : "Female")</td>
			<td>@st.Depart.Name</td>
			<td>@st.Dob</td>
			<td>@st.Gpa</td>
			<td><a href="Edit_Student?Id=@st.Id">Edit</a></td>
			<td><a href="Detail_Student?Id=@st.Id">Details</a></td>
				<td><a href="Delete_Student?Id=@st.Id">Delete</a></td>
		</tr>
	}
</table>

<input type="button" name="btnAdd" value="Add Student" onclick="location.href='Add_Student'"/>